fastapi
uvicorn[standard]
motor
pydantic-settings
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
minio
python-multipart
openai
PyMuPDF
qdrant-client==1.12.1
tiktoken
pytest
httpx
